<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Phone bill App</title>
</head>
<body>
  <div class="bg-amber-100 m-8">
     <nav class="">
      <ul class="flex flex-row main gap-4 p-7 underline">
        <li><a class="main" href="/">Home</a></li>
        <li><a class="main" href="/priceplans">Price plans</a></li>

      </ul>
    </nav>
    {{{body}}}
    </div>
</body>
</html>