<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="m-5 pb-5">
    <h3 class="">Phone bill widget</h3>   
    <h4 class="pt-1">Calculate total phone bill for user</h3><br>

<div class="flex flex-row gap-5">
    <label class="" for="">Username</label>
    <input class="flex flex-wrap" type="text" name="username" placeholder="Please enter username">
</div><br>

<div class="flex flex-row gap-5">
    <label class="" for="">Usage string</label>
    <textarea class="flex flex-wrap" name="" id="" cols="20" rows="2"></textarea>
</div><br>
     <button class="" type="submit">Calculate total phone bill</button>
     <br>

<div class="flex flex-row gap-5 pb-5"></div>
    <label class="" for="">Phone bill total</label>
    <input type="text" name="username" disabled >
</div>
</div>
</body>
</html>